.carousel-item img {
	width: 100vw; height: 50vw;
	object-fit: cover;
	object-position: center;
}
.carrusel-titular {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	
	width: 50%; height: 50%;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 16px;
	display: flex; flex-direction: column;
	align-items: center; justify-content: center;
	text-align: center;
}
.galeria {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.galeria img {
	width: 100%; height: 100%;
	object-fit: cover; object-position: center;
	border-radius: 6px;
}

.parriba {
	position: fixed;
	bottom: 0; right: 0; 
	width: 60px; height: 60px;
	background-color: deepskyblue;
	display: flex; justify-content: center; align-items: center;
	z-index: 10000;
}
.parriba a {
	color: white; text-decoration: none;
	font-size: 2em;
	text-align: center;
	width: 50%; height: 50%; line-height: 1;
	border-radius: 50%;
	border: 1px solid white; 
}
.parriba:hover {
	background-color: mediumblue;
}
.parriba:hover a {
	background-color: deepskyblue;
}
html {
	/* Esta propiedad hace que el scroll se haga mediante una animación. De momento sólo en FF, Chrome y Opera */
	scroll-behavior: smooth;
}
.mapa-loc {
	display: flex; flex-direction: column;
	justify-content: space-between;
	min-height: 300px;
}
